/* CSS RESET */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{

    --cor-primaria:#f4511E;
    --cor-secundaria: #ff7043;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none ;
    font-family: "Quicksand",sans-serif;
}
